*{
    box-sizing: border-box;
    font-family: Trebuchet MS;
}
:root {
  --white: white;
  --black: black;
}

.frame-21 {
  grid-row-gap: 33px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
  display: flex;
}

.frame-31 {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  text-decoration: none;
  display: flex;
}

.frame-8 {
  background-image: linear-gradient(90deg, rgba(0, 76, 255, .05), rgba(140, 42, 178, .05));
  border: 0 solid #d5d9fe;
  border-bottom-width: 1px;
  border-bottom-right-radius: 40px;
  border-bottom-left-radius: 40px;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 216px;
  padding: 48px 58px 30px 65px;
  text-decoration: none;
  display: flex;
}

.frame-32 {
  grid-row-gap: 7px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-decoration: none;
  display: flex;
}

.text {
  border-style: none;
  border-width: undefinedpx;
  color: #000;
  border-color: #000;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 48px;
  font-weight: 500;
  line-height: 100%;
  text-decoration: none;
}

.frame-15 {
  grid-column-gap: 22px;
  flex: 0 auto;
  justify-content: flex-end;
  align-items: center;
  text-decoration: none;
  display: flex;
}

.frame-33 {
  opacity: .8;
  flex: 0 auto;
  justify-content: center;
  align-items: flex-start;
  padding-top: 5px;
  padding-bottom: 5px;
  text-decoration: none;
  display: flex;
}

.text-2 {
  color: #000;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 100%;
  text-decoration: none;
}

.frame-16 {
  grid-column-gap: 36px;
  opacity: .9;
  flex: 0 auto;
  justify-content: center;
  align-items: flex-start;
  text-decoration: none;
  display: flex;
}

.text-3 {
  color: rgba(0, 0, 0, .6);
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 100%;
  text-decoration: none;
}

.frame-22 {
  grid-column-gap: 69px;
  flex: 0 auto;
  justify-content: flex-start;
  align-items: center;
  height: 56px;
  text-decoration: none;
  display: flex;
}

.frame-12 {
  grid-row-gap: 4px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  display: flex;
}

.text-4 {
  color: #000;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 29px;
  font-weight: 300;
  line-height: 100%;
  text-decoration: none;
}

.text-5 {
  color: #000;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 700;
  line-height: 100%;
  text-decoration: none;
}

.text-6 {
  color: #000;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 100%;
  text-decoration: none;
}

.frame-11 {
  grid-row-gap: 4px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 25px;
  height: 26px;
  text-decoration: none;
  display: flex;
}

.pencil-1 {
  object-fit: cover;
}

.vectors-wrapper {
  object-fit: cover;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  text-decoration: none;
  display: flex;
}

.frame-26 {
  grid-row-gap: 24px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  text-decoration: none;
  display: flex;
}

.frame-34 {
  grid-column-gap: 23px;
  justify-content: flex-end;
  align-items: flex-start;
  width: 100%;
  padding-left: 139px;
  padding-right: 40px;
  text-decoration: none;
  display: flex;
}

.frame-24 {
  grid-column-gap: 4px;
  background-color: #fff;
  border: 1px solid #b7bad9;
  border-radius: 4px;
  flex: 0 auto;
  justify-content: center;
  align-items: center;
  padding: 8px 12px;
  text-decoration: none;
  display: flex;
}

.text-7 {
  color: #3f3d3d;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 100%;
  text-decoration: none;
}

.frame-35 {
  grid-row-gap: 16px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  padding-left: 40px;
  padding-right: 40px;
  text-decoration: none;
  display: flex;
}

.frame-20 {
  grid-column-gap: 24px;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  text-decoration: none;
  display: flex;
}

.frame-18 {
  grid-row-gap: 40px;
  background-color: #fff;
  border: 1px solid #d5d9fe;
  border-radius: 40px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 2800px;
  padding: 40px;
  text-decoration: none;
  display: flex;
}

.frame-25 {
  justify-content: space-between;
  align-items: center;
  width: 100%;
  text-decoration: none;
  display: flex;
}

.frame-23 {
  grid-column-gap: 16px;
  flex: 0 auto;
  justify-content: flex-start;
  align-items: flex-start;
  text-decoration: none;
  display: flex;
}

.frame-19 {
  grid-column-gap: 4px;
  border: 1px solid #40771b;
  border-radius: 100px;
  flex: 0 auto;
  justify-content: center;
  align-items: center;
  padding: 4px 12px;
  text-decoration: none;
  display: flex;
}

.text-8 {
  color: #40771b;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 100%;
  text-decoration: none;
}

.frame-36 {
  grid-column-gap: 4px;
  border: 1px solid #864dbf;
  border-radius: 100px;
  flex: 0 auto;
  justify-content: center;
  align-items: center;
  padding: 4px 12px;
  text-decoration: none;
  display: flex;
}

.text-9 {
  color: #864dbf;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 100%;
  text-decoration: none;
}

.frame-37 {
  grid-column-gap: 4px;
  border: 1px solid #00a4ba;
  border-radius: 100px;
  flex: 0 auto;
  justify-content: center;
  align-items: center;
  padding: 4px 12px;
  text-decoration: none;
  display: flex;
}

.text-10 {
  color: #00a4ba;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 100%;
  text-decoration: none;
}

.frame-38 {
  grid-column-gap: 4px;
  border: 1px solid #d36464;
  border-radius: 100px;
  flex: 0 auto;
  justify-content: center;
  align-items: center;
  padding: 4px 12px;
  text-decoration: none;
  display: flex;
}

.text-11 {
  color: #d36464;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 100%;
  text-decoration: none;
}

.frame-39 {
  grid-column-gap: 4px;
  border: 1px solid #010101;
  border-radius: 100px;
  flex: 0 auto;
  justify-content: center;
  align-items: center;
  padding: 4px 12px;
  text-decoration: none;
  display: flex;
}

.text-12 {
  color: #010101;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 100%;
  text-decoration: none;
}

.frame-40 {
  grid-column-gap: 4px;
  background-image: linear-gradient(104.4deg, rgba(140, 42, 178, .2), #edf1f2);
  border: 1px solid rgba(183, 186, 217, .5);
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  width: 134px;
  padding: 4px 12px;
  text-decoration: none;
  display: flex;
}

.chart {
  grid-row-gap: 40px;
  background-color: #fff;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  text-decoration: none;
  display: flex;
}

.vectors-wrapper-2 {
  object-fit: contain;
  flex: 0 auto;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  display: flex;
  overflow: visible;
}

.frame-41 {
  grid-column-gap: 28px;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 610.94px;
  text-decoration: none;
  display: flex;
}

.frame-42 {
  grid-row-gap: 24px;
  background-color: #fff;
  border: 1px solid #d5d9fe;
  border-radius: 40px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 610.94px;
  padding: 24px 40px;
  text-decoration: none;
  display: flex;
}

.text-13 {
  color: #17161e;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 30px;
  font-weight: 500;
  line-height: 100%;
  text-decoration: none;
}

.frame-43 {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  text-decoration: none;
  display: flex;
}

.frame-10 {
  grid-column-gap: 16px;
  border: 1px solid #d5d9fe;
  border-width: 1px 0;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding-top: 16px;
  padding-bottom: 16px;
  text-decoration: none;
  display: flex;
}

.text-14 {
  color: rgba(0, 0, 0, .4);
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 100%;
  text-decoration: none;
}

.height-cm-1 {
  color: #000;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 300;
  line-height: 100%;
  text-decoration: none;
}

.frame-44 {
  grid-row-gap: 13px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
  display: flex;
}

.frame-45 {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  text-decoration: none;
  display: flex;
}

.frame-46 {
  background-image: linear-gradient(90deg, rgba(0, 76, 255, .05), rgba(140, 42, 178, .05));
  border: 0 solid #d5d9fe;
  border-bottom-width: 1px;
  border-bottom-right-radius: 40px;
  border-bottom-left-radius: 40px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 199px;
  padding: 43px 58px 47px 65px;
  text-decoration: none;
  display: flex;
}

.frame-47 {
  grid-row-gap: 7px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-decoration: none;
  display: flex;
}

.text-15 {
  border-style: none;
  border-width: undefinedpx;
  color: #000;
  border-color: #000;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 48px;
  font-weight: 500;
  line-height: 100%;
  text-decoration: none;
}

.frame-48 {
  grid-column-gap: 22px;
  flex: 0 auto;
  justify-content: flex-end;
  align-items: center;
  text-decoration: none;
  display: flex;
}

.frame-49 {
  opacity: .8;
  flex: 0 auto;
  justify-content: center;
  align-items: flex-start;
  padding-top: 5px;
  padding-bottom: 5px;
  text-decoration: none;
  display: flex;
}

.text-16 {
  color: #000;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 100%;
  text-decoration: none;
}

.frame-50 {
  grid-column-gap: 36px;
  opacity: .9;
  flex: 0 auto;
  justify-content: center;
  align-items: flex-start;
  text-decoration: none;
  display: flex;
}

.text-17 {
  color: rgba(0, 0, 0, .6);
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 100%;
  text-decoration: none;
}

.frame-51 {
  grid-column-gap: 69px;
  grid-row-gap: 10px;
  flex: 0 auto;
  justify-content: flex-start;
  align-items: center;
  height: 56px;
  text-decoration: none;
  display: flex;
}

.frame-52 {
  grid-row-gap: 4px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  display: flex;
}

.text-18 {
  color: #000;
  margin-top: 0;
  margin-bottom: 2px;
  font-size: 30px;
  font-weight: 300;
  line-height: 100%;
  text-decoration: none;
}

.text-19, .text-20 {
  color: #000;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 100%;
  text-decoration: none;
}

.frame-53 {
  grid-row-gap: 4px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 25px;
  height: 26px;
  text-decoration: none;
  display: flex;
}

.pencil-2 {
  object-fit: cover;
}

.frame-54 {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  /* max-width: 1515px; */
  padding: 24px;
  text-decoration: none;
  display: flex;
}

.frame-55 {
  grid-column-gap: 6px;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  margin-bottom: -2px;
  padding-bottom: 0;
  padding-right: 40px;
  text-decoration: none;
  display: flex;
}

.frame-56 {
  grid-column-gap: 4px;
  z-index: 12;
  background-color: #fcfcfc;
  border: 1px solid #d5d9fe;
  border-bottom-width: 0;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  flex: 0 auto;
  justify-content: center;
  align-items: center;
  padding: 8px 40px;
  text-decoration: none;
  display: flex;
}

.customize-report {
  color: #3f3d3d;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 100%;
  text-decoration: none;
}

.tab {
  grid-column-gap: 4px;
  background-color: #ebebeb;
  border: 1px solid #d5d9fe;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  flex: 0 auto;
  justify-content: center;
  align-items: center;
  padding: 8px 40px;
  text-decoration: none;
  display: flex;
}

.frame-26945 {
  grid-row-gap: 10px;
  z-index: 11;
  background-color: #fcfcfc;
  border: 1px solid #d5d9fe;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  border-bottom-left-radius: 40px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 33px 24px;
  text-decoration: none;
  display: flex;
}

.frame-26946 {
  grid-row-gap: 16px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  text-decoration: none;
  display: flex;
}

.frame-26947 {
  grid-column-gap: 24px;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  text-decoration: none;
  display: flex;
}

.frame-26948 {
  grid-row-gap: 40px;
  background-color: #fff;
  border: 1px solid #d5d9fe;
  border-radius: 40px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 2800px;
  padding: 40px;
  text-decoration: none;
  display: flex;
}

.frame-26949 {
  justify-content: space-between;
  align-items: center;
  width: 100%;
  text-decoration: none;
  display: flex;
}

.frame-26950 {
  grid-column-gap: 16px;
  flex: 0 auto;
  justify-content: flex-start;
  align-items: flex-start;
  text-decoration: none;
  display: flex;
}

.frame-26951 {
  grid-column-gap: 4px;
  border: 1px solid #40771b;
  border-radius: 100px;
  flex: 0 auto;
  justify-content: center;
  align-items: center;
  padding: 4px 12px;
  text-decoration: none;
  display: flex;
}

.text-21 {
  color: #40771b;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 100%;
  text-decoration: none;
}

.vectors-wrapper-3 {
  object-fit: cover;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  text-decoration: none;
  display: flex;
}

.frame-26952 {
  grid-column-gap: 4px;
  border: 1px solid #864dbf;
  border-radius: 100px;
  flex: 0 auto;
  justify-content: center;
  align-items: center;
  padding: 4px 12px;
  text-decoration: none;
  display: flex;
}

.text-22 {
  color: #864dbf;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 100%;
  text-decoration: none;
}

.frame-26953 {
  grid-column-gap: 4px;
  border: 1px solid #00a4ba;
  border-radius: 100px;
  flex: 0 auto;
  justify-content: center;
  align-items: center;
  padding: 4px 12px;
  text-decoration: none;
  display: flex;
}

.text-23 {
  color: #00a4ba;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 100%;
  text-decoration: none;
}

.frame-26954 {
  grid-column-gap: 4px;
  border: 1px solid #d36464;
  border-radius: 100px;
  flex: 0 auto;
  justify-content: center;
  align-items: center;
  padding: 4px 12px;
  text-decoration: none;
  display: flex;
}

.text-24 {
  color: #d36464;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 100%;
  text-decoration: none;
}

.frame-26955 {
  grid-column-gap: 4px;
  border: 1px solid #010101;
  border-radius: 100px;
  flex: 0 auto;
  justify-content: center;
  align-items: center;
  padding: 4px 12px;
  text-decoration: none;
  display: flex;
}

.text-25 {
  color: #010101;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 100%;
  text-decoration: none;
}

.frame-26956 {
  grid-column-gap: 4px;
  background-image: linear-gradient(104.4deg, rgba(140, 42, 178, .6) 0%, #edf1f2 100%);
  border: 1px solid rgba(183, 186, 217, .5);
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  width: 134px;
  padding: 4px 12px;
  text-decoration: none;
  display: flex;
}

.chart-2 {
  grid-row-gap: 40px;
  background-color: #fff;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  text-decoration: none;
  display: flex;
}

.vectors-wrapper-4 {
  object-fit: contain;
  flex: 0 auto;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  display: flex;
}

.frame-26957 {
  grid-column-gap: 28px;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 610.94px;
  text-decoration: none;
  display: flex;
}

.frame-26958 {
  grid-row-gap: 24px;
  background-color: #fff;
  border: 1px solid #d5d9fe;
  border-radius: 40px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 610.94px;
  padding: 24px 40px;
  text-decoration: none;
  display: flex;
}

.text-26 {
  color: #17161e;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 30px;
  font-weight: 500;
  line-height: 100%;
  text-decoration: none;
}

.frame-26959 {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  text-decoration: none;
  display: flex;
}

.frame-26960 {
  grid-column-gap: 16px;
  border: 1px solid #d5d9fe;
  border-width: 1px 0;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding-top: 16px;
  padding-bottom: 16px;
  text-decoration: none;
  display: flex;
}

.text-27 {
  color: #000;
  margin-top: 6px;
  margin-bottom: 0;
  font-size: 12px;
  font-weight: 400;
  line-height: 100%;
  text-decoration: none;
}

.height-cm-2 {
  color: #000;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 300;
  line-height: 100%;
  text-decoration: none;
}